.mainContainer {
    display: flex;
    width: 300px;
    justify-content: start;
    flex-direction: column;
}

.mainContainer .button {
    height: 23px;
    width: 40px;
    background-color: #dfe1ff;
    border: 1px solid black;
    color: black;
}

.taskContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 5px 5px 30px;
}

.taskName {
    align-self: center;
    width: 140px;
    word-wrap: break-word;
}

.priority {
    align-self: center;
}

.buttonContainer {
    margin-top: 10px;
}

.buttonContainer .button {
    height: auto;
    width: auto;
    margin-left: 10px;
    background-color: #dfe1ff;
    border: 1px solid black;
    color: black;
    font-size: 100%;
}

.buttonContainer .buttonActive {
    background-color: #6e708a;
    border: 2px solid white;
    color: white;
}

.high {
    color: #d54542
}

.middle {
    color: #fff83c
}

.low {
    color: #67ff73
}
