.blue {
    /*border-bottom: 5px solid blue;*/
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    max-width: 140px;
    display: block;
    margin: 0 5px;
    padding-right: 20px;
    color: red;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    overflow: auto;
}